body {
	text-align: center;
	background-image: url(images/paperbackground.jpg);
}
span.headtext { color: 545354;
		border-style: solid;
		border-bottom-width: medium;
		align-content: center;
		padding-right: 40px;
		padding-left: 40px;
		letter-spacing: 2px;
}
h2 { 	color: black;
		align-content: center;
}
ul {	list-style-type: none;
		font-family: monospace;
		font-size: 16pt;
}
p {	font-family: monospace;
		font-size: 16pt;
		width:80%;
		margin: auto;
}

.pad-40 {
	padding: 40px;
}

div.pageborder {border: 5px solid darkgrey
}

article {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 120px;
	-moz-column-width:120px;
	column-width: 120px;
	font-size: 18px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	padding: 10px;
}