body {
		background-color: white; text-align: center;
}
span { color: forestgreen; border-style: solid;
		border-bottom-width: medium;
		align-content: center; padding-right: 25px;
		padding-left: 25px;
}
h2 { color: black; align-content: center;
}
ul {list-style-type: none; font-family: inherit; font-size: medium;
}
